# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# Dados
data/results/
*.jpg
*.png
*.jpeg
!data/samples/legitimate/.gitkeep
!data/samples/fraudulent/.gitkeep

# Outputs
output_v2/
*.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
